<!DOCTYPE html>

<html>
<head>
    <title>Fortune Cow</title>
    <style>
        @import url(http://fonts.googleapis.com/css?family=Amatic+SC:700);
 
        body{
            text-align: center;    
        }
        h1{
            font-family: 'Amatic SC', cursive;
            font-weight: normal;
            color: black;
            font-size: 2.5em;
        }
 
    </style>
 
</head>

<body>

<div class="block1">
<h1>Hello, I'm the Fortune Cow</h1>
  <h2>Here is an interesting quote for you: </h2>
  <p>{{quote}}</p>
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRfJOq9wEkanz7xC10asavMYT1zo6rujq52iJVCNDPhUPAM2u57Dw">
</div>

</body>
</html>
